<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header.ejs") %>
<body>
    <h1 class="title">BLERB</h1>

        <div class="main form">
            <form action="/api/posts/<%=post.id %>" method="POST">
                <label for="" >Title </label>
                <input type="text" name="title" id="title" value="<%=post.title %>"> 
                
                <label for="" >Author </label>
                <input type="text" name="author" id="title" value="<%=post.author %>"> 

                <label for="" >Body </label>
               <textarea name="content" cols="50" rows="14"><%=post.content %></textarea>
               
                <input type="submit" class="newBtn submitBtn">
            </form>
        </div>


   
  
</body>

<%- include("partials/footer.ejs") %>
</html>